/*!GENERAL MEDIAQUERIES STYLE */
@media (max-width: 1360px) {
    .nuxbox-hero-prods {
        background-size: cover;
        background-position: -80px 0px;
    }
}

@media (max-width: 1200px) {
    .nuxbox-hero-prods { background-position: -96px 0px; }

    .nuxbox-container2 h4 { font-size: 23px; }

    .nuxbox-container2 h2 { font-size: 40px; }

    .btn-nuxbox-hero2 {
        float: right;
        margin-top: 70px;
    }
}

@media (max-width: 1024px) {
    .bundle_custom_componentes .bundled_product_summary {
        width: 145px;
        height: 145px;
        padding: 10px !important;
        padding-top: 10px !important;
    }

    .header-menu-container-shop {
        margin-top: 35px;
        font-size: 12px;
    }

    .nuxbox-creator-ads-container img:nth-child(1) {
        padding-left: 5%;
        height: 150px;
    }

    .nuxbox-creator-ads-container { background-position: -30px; }

    .arrow1 { top: 40%; }

    .arrow3 { top: 35%; }

    .arrow2 { top: 56%; }

    .arrow4 { top: 60%; }

    ul.summary_elements {
        padding-top: 248px;
        min-height: 585px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a { color: #FFF !important; }

    .footer-item {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 18px;
    }

    .hero-shop { background-size: cover; }

    .header-extra-container img {
        margin-right: 10px;
        width: 28%;
        height: auto;
    }

    .header-menu-container {
        margin-top: 25px;
        font-size: 18px;
    }

    .the-about {
        width: 100%;
        margin-left: 0;
    }

    .about-section-title { font-size: 111.3px; }

    .about-item { font-size: 28px; }

    .about-item h3 { font-size: 30px; }

    .about-section-subtitle { font-size: 35px; }

    .front-product-single-info h2 {
        font-size: 45px;
        font-weight: 300;
    }

    .nuxbox-container2 h4 { font-size: 20px; }

    .nuxbox-container2 h2 { font-size: 40px; }

    .nuxbox-hero-prods {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .btn-nuxbox-hero2 {
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 90px;
    }

    .nuxbox-hero { background-position: -120px 0px; }

    .header-shop-social { margin-top: 5px; }

    .header-extra-container2 img {
        margin-right: 0px;
        margin-top: -25px;
    }

    .small_width .composite_summary li.summary_element, .composite_summary.force_vertical li.summary_element {
        text-align: left;
        width: 44% !important;
        border-radius: 100%;
        background-color: rgba(87, 80, 76, 0.22);
    }

    .nuxbox-hero-prods {
        background: url(../images/nuxbox-bg.png);
        background-size: cover;
        background-color: #6E8F9C;
        padding-top: 60px;
        padding-bottom: 60px;
        background-repeat: no-repeat;
        background-position: -90px 0px;
    }

    .header-menu-container-shop {
        margin-top: 35px;
        font-size: 15px;
    }

    .nutmix-hero-content img {
        max-height: 221px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .summary_element_wrapper_inner { height: 150px; }

    .summary_element_image.summary_element_data { width: 100%; }

    .contact-title { font-size: 32px; }

    .wpcf7-form-control { font-size: 20px; }

    .widget .wp_bank_album .custom_desc {
        width: 60px;
        height: 60px;
    }

    .widget .wp_bank_album .gb_overlay {
        width: 60px !important;
        height: 60px !important;
    }
}

@media (max-width: 991px) {
    ul.summary_elements {
        padding-top: 283px;
        min-height: 585px;
    }

    .full_width .columns-4 .summary_elements li.summary_element {
        width: 44% !important;
        height: 184px;
    }

    .bundle_custom_componentes .bundled_product_summary {
        width: 165px;
        height: 165px;
        padding: 10px !important;
        padding-top: 25px !important;
    }

    .nuxbox-container {
        padding-top: 5px;
        font-size: 23px;
        line-height: 13px;
    }

    .nuxbox-container h4 { font-size: 20px; }

    .nuxbox-container h2 { font-size: 40px; }

    .nuxbox-buttons { margin-top: 5px; }

    .nuxbox-hero {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .contact-title { font-size: 25px; }

    .contact-content .wpcf7-form .col-md-5 {
        padding-left: 0;
        padding-right: 10px;
    }

    .blog-title {
        font-size: 22px;
        line-height: 33px;
    }

    .nuxbox-creator-item-1 img {
        width: 100%;
        height: auto;
    }

    .nuxbox-creator-item-2 img {
        width: 100%;
        height: auto;
    }

    .navbar-nav .open .dropdown-menu {
        text-align: right;
        position: initial;
        margin-right: 0 !important;
        display: inline-block;
        width: 100% !important;
    }

    .about-section-title { font-size: 89.3px; }

    .about-section-subtitle { font-size: 28px; }

    .front-product-item {
        width: 160px;
        height: 160px;
        margin-right: 0;
    }

    .nutmix-hero-container { max-height: 306px; }

    .front-product-single-info {
        font-size: 28px;
        line-height: 20px;
    }

    .nutmix-hero-title img {
        margin-top: -5px;
        max-height: 39px;
    }

    .nutmix-hero-title { font-size: 30px; }

    .nutmix-hero-content img {
        max-height: 165px;
        margin-bottom: 10px;
    }

    .nutmix-hero-footer { font-size: 20px; }

    .nuxbox-social .fa {
        width: 37px;
        height: 37px;
        font-size: 30px;
        padding-top: 3px;
        margin-right: 0;
        margin-top: 6px;
    }

    .front-product-single-info h2 { font-size: 38px; }
}

@media (max-width: 800px) {
    .front-product-item {
        width: 160px;
        height: 160px;
        margin-right: 0;
    }

    .nutmix-hero-container { max-height: 306px; }

    .front-product-single-info {
        font-size: 28px;
        line-height: 20px;
    }

    .nutmix-hero-title img {
        margin-top: -5px;
        max-height: 39px;
    }

    .nutmix-hero-title { font-size: 30px; }

    .nutmix-hero-content img {
        max-height: 165px;
        margin-bottom: 10px;
    }

    .nutmix-hero-footer { font-size: 20px; }

    .nuxbox-social .fa {
        width: 37px;
        height: 37px;
        font-size: 30px;
        padding-top: 3px;
        margin-right: 0;
        margin-top: 6px;
    }

    .front-product-single-info h2 { font-size: 38px; }
}

@media (max-width: 768px) {
    .header-logo-container img { width: 30%; }

    .header-menu-container {
        font-size: 12px;
        margin-top: 10px;
    }

    .header-extra-container2 img { margin-left: 0; }

    .header-shop-social { margin-top: -5px; }

    .header-menu-container-shop {
        margin-top: 24px;
        font-size: 14px;
    }

    .header-menu-container-shop ul li a { padding: 5px; }

    ul.summary_elements { padding-top: 285px; }

    .full_width .columns-4 .summary_elements li.summary_element {
        width: 44.5% !important;
        height: 181px;
    }

    .summary_element_wrapper_inner { height: 178px; }

    .header-social-header { padding-top: 15px; }

    .header-extra-container { padding-top: 0px; }

    .header-extra-container img {
        width: 27%;
        margin-top: 12px;
    }

    .header-extra-container .fa-shopping-cart { font-size: 40px; }

    .the-slider { margin-top: -230px; }

    .the-about {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 5px;
    }

    .about-item h3 { font-size: 28px; }

    .about-item {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 25px;
    }

    .about-section-title { font-size: 80px; }

    .about-section-subtitle { font-size: 25px; }

    .front-product-item {
        width: 120px;
        height: 120px;
    }

    .front-product-item-title {
        bottom: 2px;
        font-size: 15px;
    }

    .front-product-single img { width: 70%; }

    .front-product-single-img img { width: 50%; }

    .front-product-single-info {
        padding-top: 0px;
        font-size: 25px;
        line-height: 20px;
    }

    .front-product-single-info h2 { font-size: 35px; }
}

@media (max-width: 667px) {
    .the-slider { margin-top: -120px; }

    .about-section-title { font-size: 60px; }

    .front-product-item { margin-right: 15px; }

    .nuxbox-container2 img { display: inline-block; }

    .nuxbox-hero-prods {
        padding-top: 15px;
        padding-bottom: 15px;
        background-size: cover;
    }

    .nuxbox-hero-prods-btn-container { text-align: center; }

    .nuxbox-hero-prods-btn-container button { margin-top: 0; }

    .single-sidebar-container .sidebar-product-item {
        display: inline-block;
        width: 110px;
        height: 110px;
        margin-left: 23px;
    }

    .sidebar-product-item-title { font-size: 21px; }

    .size-shop_single {
        width: 50% !important;
        margin-top: 50px;
    }

    .footer-symbol {
        padding-left: 0;
        margin-left: -10px;
    }

    .footer-item ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }

    .footer-item ul li {
        line-height: 19px;
        padding-bottom: 15px;
    }

    .the-footer { padding-bottom: 20px; }

    .owl-theme .owl-controls .owl-buttons div { padding: 13px 0px; }
}

@media (max-width: 600px) {
    .arrow-single { display: none !important; }

    .bundle_custom_componentes {
        max-width: 100%;
        padding-top: 62.5%;
    }

    .bundle_custom_componentes .bundled_product_summary {
        width: 125px;
        height: 125px;
        padding: 5px !important;
        padding-top: 15px !important;
    }

    .bundle_custom_componentes .bundled_product_summary .details h4 {
        font-size: 10px;
        margin-top: 0px;
    }

    .navbar-default .navbar-nav>li>a { color: #FFF !important; }

    .dropdown-menu li {
        float: none !important;
        width: auto;
    }

    .footer-copy {
        font-size: 18px;
        line-height: 25px;
    }

    .front-product-single {
        padding-top: 5px;
        padding-left: 0;
        padding-right: 0;
    }

    .front-product-item { margin-right: 0px; }

    .front-product-single-info h2 { font-size: 28px; }

    .front-product-single-info {
        font-size: 20px;
        line-height: 15px;
    }

    .about-section-title { font-size: 63.5px; }

    .about-section-subtitle { font-size: 20px; }

    .nuxbox-container h2 { font-size: 30px; }

    .nuxbox-container {
        font-size: 20px;
        line-height: 15px;
    }

    .nuxbox-social {
        padding-left: 0;
        padding-right: 0;
    }

    .about-item {
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 30px;
    }

    .the-slider { margin-top: -128px; }

    .footer-item h3 {
        font-size: 25px;
        text-align: center;
    }

    .archive-item { width: 45%; }

    .contact-social .fa {
        width: 40px;
        font-size: 2em;
        height: 40px;
    }

    .nutmix-hero-footer .nuxbox-social {
        padding-left: 0;
        padding-right: 10px;
    }

    /* RESHAPE CART WOOCOMMERCE */
    .woocommerce .cart-collaterals .cart_totals table th, .woocommerce-page .cart-collaterals .cart_totals table th td span { width: 77%; }

    .woocommerce-page table.shop_table, .woocommerce-page table.shop_table thead, .woocommerce-page table.shop_table tbody, .woocommerce-page table.shop_table th, .woocommerce-page table.shop_table td, .woocommerce-page table.shop_table tr { display: block; }

    /* Hide table headers (but not display: none;, for accessibility) */
    .woocommerce-page table.shop_table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .woocommerce-page table.shop_table tr {
        /*border: 1px solid #d2d3d3; */
    }

    .woocommerce-page table.shop_table td {
        /* Behave  like a "row" */
        border: 1px solid #d2d3d3;
        position: relative;
        padding-left: 40% !important;
    }

    .woocommerce-page table.shop_table { border: none; }

    .woocommerce-page table.shop_table td.product-spacer {
        border-color: #FFF;
        height: 10px;
    }

    .woocommerce-page table.shop_table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
     Label the data
     */
    .woocommerce-page table.shop_table td.product-remove:before { content: "ERASE"; }

    .woocommerce-page table.shop_table td.product-thumbnail:before { content: "IMAGE"; }

    .woocommerce-page table.shop_table td.product-name:before { content: "PRODUCT"; }

    .woocommerce-page table.shop_table td.product-price:before { content: "PRICE"; }

    .woocommerce-page table.shop_table td.product-quantity:before { content: "QUANTITY"; }

    .woocommerce-page table.shop_table td.product-subtotal:before { content: "SUBTOTAL"; }

    .woocommerce-page table.shop_table td.product-total:before { content: "TOTAL"; }

    .woocommerce .quantity, .woocommerce #content .quantity, .woocommerce-page .quantity, .woocommerce-page #content .quantity { margin: 0; }

    .woocommerce-page table.cart td.actions, .woocommerce-page #content table.cart td.actions {
        text-align: left;
        border: 0;
        padding-left: 6px !important;
    }

    .woocommerce-page table.cart td.actions div, .woocommerce-page #content table.cart td.actions div, .woocommerce-page table.cart td.actions input, .woocommerce-page #content table.cart td.actions input { margin-bottom: 10px; }

    .woocommerce-page .cart-collaterals .cart_totals {
        float: left;
        width: 100%;
        text-align: left;
    }

    .woocommerce-page .cart-collaterals .cart_totals th, .woocommerce-page .cart-collaterals .cart_totals td { border: 0 !important; }

    .woocommerce-page .cart-collaterals .cart_totals table tr.cart-subtotal td, .woocommerce-page .cart-collaterals .cart_totals table tr.shipping td, .woocommerce-page .cart-collaterals .cart_totals table tr.total td { padding-left: 6px !important; }

    .woocommerce-page table.shop_table tr.cart-subtotal td, .woocommerce-page table.shop_table tr.shipping td, .woocommerce-page table.shop_table tr.total td, .woocommerce-page table.shop_table.order_details tfoot th, .woocommerce-page table.shop_table.order_details tfoot td {
        padding-left: 6px !important;
        border: 0 !important;
    }

    .woocommerce-page table.shop_table tbody { padding-top: 10px; }

    .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2, .woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
        float: none;
        width: 100%;
    }

    .woocommerce .order_details ul, .woocommerce-page .order_details ul, .woocommerce .order_details, .woocommerce-page .order_details { padding: 0; }

    .woocommerce .order_details li, .woocommerce-page .order_details li {
        clear: left;
        margin-bottom: 10px;
        border: 0;
    }

    .actions input {
        padding: 5px!important;
        font-size: 13px !important;
    }

    ul.summary_elements {
        padding-top: 218px;
        min-height: 400px;
    }

    .small_width .composite_summary li.summary_element, .composite_summary.force_vertical li.summary_element {
        width: 43.5% !important;
        height: 138px;
    }
}

@media (max-width: 480px) {
    ul.summary_elements {
        padding-top: 161px;
        padding-left: 28px;
        min-height: 385px;
    }

    .small_width .composite_summary li.summary_element, .composite_summary.force_vertical li.summary_element {
        width: 44% !important;
        height: 110px;
    }

    .arrow-single img { width: 60%; }

    .arrow1 { top: 36%; }

    .arrow2 { top: 50%; }

    .arrow3 {
        top: 31%;
        right: -15px;
    }

    .arrow4 {
        top: 52%;
        right: -35px;
    }
}

@media (max-width: 414px) {
    .nuxbox-creator-mobile-ads-container {
        min-height: auto;
        background-size: contain;
        padding-top: 30%;
    }

    .nuxbox-creator-mobile-ads-container .img-ads {
        display: inline-block;
        width: 70%;
    }

    .front-product-container { padding-right: 0px; }

    .about-section-title { font-size: 50px; }

    .about-section-subtitle { font-size: 30.5px; }

    .front-product-item {
        background-image: none !important;
        width: 70px;
        height: 70px;
        margin-bottom: 30px;
    }

    .front-product-item-title {
        padding-left: 0;
        padding-right: 0;
        font-size: 14px;
        bottom: 6px;
        font-weight: 600;
    }

    .front-product-single-info h2 { font-size: 20px; }

    .front-product-single-info {
        font-size: 15px;
        line-height: 21px;
    }

    .front-product-single-btn {
        float: none;
        margin-top: 15px;
        position: relative;
        top: 0;
    }

    .front-product-single-img img { width: 80%; }

    .composite-single-main-component .entry-summary h1 {
        padding-top: 0;
        padding-bottom: 20px;
        margin-top: 0;
    }

    ul.summary_elements {
        padding-top: 139px;
        padding-left: 22px;
        min-height: 217px;
    }

    .small_width .composite_summary li.summary_element, .composite_summary.force_vertical li.summary_element { height: 88px; }

    .arrow-single img { width: 50px; }

    .arrow1 { top: 28%; }

    .arrow2 { top: 43%; }

    .arrow3 {
        top: 28%;
        right: 0;
    }

    .arrow4 {
        top: 45%;
        right: 0;
    }

    .single-sidebar-container .sidebar-product-item {
        display: inline-block;
        width: 90px;
        height: 90px;
        margin-left: 12px;
    }

    .sidebar-product-item-title { font-size: 17px; }

    .category-single-float {
        margin-top: -70px;
        padding: 3px;
        font-size: 16px;
        padding-left: 4px;
    }

    .related h2 { font-size: 20px; }

    .sprite-slider {
        height: 35px;
        width: 44px;
        background-size: 88px;
    }

    .sprite-slider-next { background-position: 46px 0; }

    .header-mini-cart-container {
        & .fa-shopping-cart { position: relative; }

        & .badge {
            position: absolute;
            top: -6px;
            right: -15px;
        }
    }

    .contact-title { font-size: 20px; }
}

@media (max-width: 375px) {
    .bundle_custom_componentes .bundled_product_summary {
        width: 110px;
        height: 110px;
        padding: 5px !important;
        padding-top: 3px !important;
    }

    ul.summary_elements {
        padding-top: 122px;
        padding-left: 19px;
        min-height: 340px;
    }

    .small_width .composite_summary li.summary_element, .composite_summary.force_vertical li.summary_element { height: 77px; }
}

@media (max-width: 360px) {
    .bundle_custom_componentes .bundled_product_summary {
        width: 104px;
        height: 104px;
        padding: 5px !important;
        padding-top: 2px !important;
    }

    ul.summary_elements {
        padding-top: 115px;
        padding-left: 14px;
        min-height: 239px;
    }

    .small_width .composite_summary li.summary_element, .composite_summary.force_vertical li.summary_element {
        height: 72px;
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    ul.summary_elements {
        padding-top: 102px;
        padding-left: 14px;
        min-height: 239px;
    }

    .small_width .composite_summary li.summary_element, .composite_summary.force_vertical li.summary_element {
        height: 59px;
        font-size: 10px;
    }

    .bundle_custom_componentes .bundled_product_summary {
        width: 87px;
        height: 88px;
        padding: 2px !important;
        background: none;
        padding-top: 0px !important;
        margin-top: -3px;
    }

    .archive-item { width: 98%; }

    .panel-title { font-size: 35px; }

    .single-categories a { font-size: 15px; }

    .the-single h1 {
        margin-bottom: 10px;
        font-size: 26px;
    }

    .hero-shop { margin-top: -128px; }

    .btn-nuxbox-hero2 {
        display: inline-block;
        float: none;
    }

    .about-section-title { font-size: 50px; }

    .front-product-single img { width: 100%; }

    .front-product-item { margin-bottom: 20px; }

    .front-product-single-info {
        font-size: 18px;
        line-height: 19px;
    }

    .special-page-title { font-size: 35px; }

    .shop-product-item-button span { font-size: 20px; }

    .shop-product-item-button .btn {
        line-height: 21px;
        margin-top: -7px;
        font-size: 30px;
        height: 25px;
        width: 25px;
    }

    .blog-title {
        font-size: 17px;
        line-height: 25px;
    }

    .nutmix-hero-title {
        font-size: 25px;
        padding-top: 0px;

        & img { max-height: 35px; }
    }

    .nutmix-hero-footer { font-size: 16px; }

    .btn-nuxbox-hero { margin-right: -5px; }

    .arrow2 { top: 37%; }

    .arrow3 {
        top: 25%;
        right: 0;
    }

    .arrow4 {
        top: 38%;
        right: 0;
    }
}
