/*!GENERAL STYLE */
@import '../less/lesshat.less';
/* WordPress Core
 -------------------------------------------------------------- */
@import '../less/wordpress-core.less';
/* Shortcodes Ultimate Custom
 -------------------------------------------------------------- */
@import '../less/shortcodes-ultimate-custom.less';

/* Theme commons
 -------------------------------------------------------------- */
.loading:empty {
    background: url('../images/common/loading.gif') no-repeat center center;
    min-height: 32px;
    min-width: 32px;
}
/* --------------------------------------------------------------
 Variables
 -------------------------------------------------------------- */
/* Pixels */
@1: 1px;
@2: 2px;
@3: 3px;
@4: 4px;
@5: 5px;
@10: (@5 + @5);
@15: (@10 + @5);
@20: (@10 + @10);
@25: (@20 + @5);
@30: (@15 + @15);
/* Colors */
@black: #000000;
@gray3: #333333;
@gray6: #666666;
@gray9: #999999;
@grayc: #cccccc;
@grayf0: #f0f0f0;
@white: #ffffff;
@blue: #2B7BCB;
@orange: #FFB12A;

/* Class */
.no-margin { margin: 0; }

.no-margint { margin-top: 0; }

.no-marginb { margin-bottom: 0; }

.margint5 { margin-top: (@5); }

.margint10 { margin-top: (@10); }

.margint15 { margin-top: (@15); }

.margint20 { margin-top: (@20); }

.margint25 { margin-top: (@25); }

.margint30 { margin-top: (@30); }

.marginb5 { margin-bottom: (@5); }

.marginb10 { margin-bottom: (@10); }

.marginb15 { margin-bottom: (@15); }

.marginb20 { margin-bottom: (@20); }

.marginb25 { margin-bottom: (@25); }

.marginb30 { margin-bottom: (@30); }

.no-padding { padding: 0; }

.no-paddingt { padding-top: 0; }

.no-paddingb { padding-bottom: 0; }

.no-paddingl { padding-left: 0; }

.no-paddingr { padding-right: 0; }

.paddingt5 { padding-top: (@5); }

.paddingt10 { padding-top: (@10); }

.paddingt15 { padding-top: (@15); }

.paddingt20 { padding-top: (@20); }

.paddingt25 { padding-top: (@25); }

.paddingt30 { padding-top: (@30); }

.paddingb5 { padding-bottom: (@5); }

.paddingb10 { padding-bottom: (@10); }

.paddingb15 { padding-bottom: (@15); }

.paddingb20 { padding-bottom: (@20); }

.paddingb25 { padding-bottom: (@25); }

.paddingb30 { padding-bottom: (@30); }

.marginr30 { margin-right: @30; }

.margint40 { margin-top: @30 + @10; }

@-webkit-keyframes thumb {
    0% { -webkit-transform: scale(1); }

    50% { -webkit-transform: scale(0.9); }

    100% { -webkit-transform: scale(1); }
}

/* --------------------------------------------------------------
 Body default
 -------------------------------------------------------------- */
html, body { height: 100%; }

body {
    font-weight: 400;
    font-family: 'Catamaran', sans-serif;
    color: #422916;
}

a {
    .transition(all .2s ease-in-out);

    &:hover { text-decoration: none; }
}

.the-header {
    background-color: rgba(69, 62, 57, 0.9);
    padding-top: 15px;
    padding-bottom: 15px;
    max-height: 230px;
}

.header-logo-container {
    text-align: center;

    & img { display: inline-block; }
}

.header-social-header {
    color: #FFF;
    padding-left: 20px;
    padding-top: 30px;

    & a { color: #FFF; }

    & .fa {
        border: 1px solid white;
        width: 40px;
        height: 40px;
        font-size: 35px;
        padding-top: 2px;
        text-align: center;
        margin-right: 10px;
    }

    & .fa-shopping-cart {
        border: 0;
        position: relative;

        & .badge {
            position: absolute;
            top: 0;
        }
    }
}

.header-menu-container {
    margin-top: 35px;
    font-size: 18px;

    & a { color: #FFF; }

    & .fa-shopping-cart { color: #FFF !important; }

    & .navbar-default {
        border: 0;
        box-shadow: 0 0 0 transparent;
        margin-bottom: 0;
        background: transparent none;
    }

    & .navbar-nav {
        text-align: center;
        float: none;

        & li {
            float: none;
            display: inline-block;

            & a { color: #FFF; }
        }
    }
}

& .dropdown-menu {
    background-color: rgba(69, 62, 57, 0.9);
    border: 0;
    max-width: 100px;
    min-width: 100px;

    & li {
        float: left !important;
        display: block !important;
        width: 100%;
        padding-bottom: 10px;
        max-width: 100px;

        & a { color: #FFF; }
    }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background: transparent none;
    box-shadow: 0 0 0 transparent;
    color: #FFF !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover { background-color: transparent !important; }

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: transparent !important;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #555;
    background-color: transparent !important;
    background-image: none !important;
}

#sticker {
    z-index: 999;
    width: 100%;
}

.header-extra-container {
    padding-left: 0;
    padding-top: 20px;
    text-align: right;

    & .fa-shopping-cart {
        font-size: 45px;
        float: left;
        color: #FFF;
        margin-top: 8px;
        position: relative;

        & .badge {
            position: absolute;
            top: 0;
            right: -10px;
        }
    }

    & a { color: #FFF; }

    & img {
        display: inline-block;
        margin-right: 20px;
        height: 35px;
        margin-top: 14px;
    }
}

.header-extra-container2 {
    padding-top: 40px;
    padding-left: 0;
    text-align: left;

    & img {
        display: inline-block;
        text-align: right;
        margin-left: 20px;
        height: 35px !important;
        margin-top: -20px;
    }
}

.the-slider { margin-top: -252px; }

.sprite-slider {
    background: url(../images/sprites-slider.png);
    height: 47px;
    width: 54px;
    display: inline-block;
    -webkit-filter: invert(100%);
}

.sprite-slider-prev { background-position: 0 0; }

.sprite-slider-next { background-position: 57px 0; }

/* SPRITES */
.sprites-about {
    background-image: url(../images/sprites-about.png);
    display: inline-block;
    width: 112px;
    height: 112px;
    cursor: pointer;
    image-rendering: crisp-edges;
}

.sprites-about-chat { background-position: 0 0; }

.sprites-about-recipe { background-position: -112px 0; }

.sprites-about-contact { background-position: -224px 0; }

.the-about {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    color: #422917;
}

.about-item {
    text-align: center;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 300;
    line-height: 35px;

    & a {
        color: #422917;
        text-decoration: none;

        &:hover { text-decoration: none; }
    }

    & h3 {
        font-size: 40px;
        font-weight: 900;
    }
}

.about-section-title {
    font-size: 126.5px;
    margin-top: 50px;
    margin-bottom: 0px;

    & .word3 { font-weight: 900; }
}

.about-section-subtitle {
    font-size: 40px;
    line-height: 15px;
}

.front-products {
    background-color: #463F39;
    padding-top: 20px;
    padding-bottom: 20px;
}

.front-product-item {
    position: relative;
    width: 180px;
    height: 180px;
    float: left;
    border-radius: 100%;
    margin-right: 40px;
    margin-bottom: 15px;
    text-align: center;
    color: #ffffff;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center 40%;
    cursor: pointer;
}

.front-product-item-title {
    position: absolute;
    bottom: 5px;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
}

.front-product-single {
    text-align: center;
    position: relative;
    padding-top: 25px;

    & img { display: inline-block; }
}

.front-product-single-btn {
    background: none;
    border: 1px solid #FFF;
    color: #FFF;
    border-radius: 0;
    padding: 2px;
    float: right;
    font-size: 20px;
    font-weight: 100;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    right: 0;
    top: 70%;
    font-weight: 600;

    &:hover {
        color: #868584;
        border-color: #DDDDDD;
    }
}

.front-product-title { image-rendering: auto; }

.front-product-single-img {
    & img {
        width: 70%;
        height: auto;
        -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.93, transparent), to(white));
    }
}

.front-product-single-info {
    padding-top: 40px;
    text-align: center;
    font-size: 35px;
    line-height: 30px;
    font-weight: 100;
    color: #FFF;

    & h2 {
        font-size: 50px;
        font-weight: 300;
    }
}

.loader {
    height: 70vh;
    text-align: center;
    padding-top: 150px;
    font-size: 50px;
}

.loader-text { color: #FFF; }

#loader-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

.nuxbox-hero-container { background: #6E8F9C; }

.nuxbox-hero {
    background: #6E8F9C url(../images/nuxbox-bg.png);
    background-size: cover;
    padding-bottom: 50px;
    position: relative;
    max-height: 491px;
}

.nuxbox-hero-mask {
    height: 100%;
    position: absolute;
    width: 100%;
    background: rgba(110, 143, 156, 0.90);
    margin-top: -15px;
}

.nuxbox-container {
    padding-top: 20px;
    text-align: center;
    font-size: 28px;
    line-height: 20px;
    color: #FFF;
    font-weight: 100;

    & img {
        width: 75%;
        display: inline-block;
    }

    & h4 {
        font-size: 35px;
        letter-spacing: 10px;
        font-weight: 100;
        word-break: normal;
        margin-bottom: 15px;
    }

    & h2 {
        font-size: 55px;
        letter-spacing: 3px;
        word-break: break-word;
        font-weight: 300;
    }
}

.nuxbox-buttons {
    margin-top: 50px;

    & a { color: #FFF; }
}

.nuxbox-social {
    color: #FFF;

    & .fa {
        border: 1px solid white;
        width: 47px;
        height: 47px;
        font-size: 43px;
        padding-top: 2px;
        text-align: center;
        margin-right: 10px;
    }
}

.nuxbox-hero-text { color: #F5CCEF; }

.btn-nuxbox-hero {
    background: none;
    border: 1px solid #F5CCFF;
    border-radius: 0;
    padding: 5px;
    float: right;
    font-size: 20px;
    font-weight: 100;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    color: #FFF;
}

.the-footer {
    padding-top: 30px;
    padding-bottom: 80px;
    color: #422917;
}

.footer-item {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    font-weight: 100;
    line-height: 20px;

    & a { color: #422917; }

    & ul {
        line-height: 30px;

        & li {
            & a { color: #422917; }
        }
    }

    & h3 {
        font-weight: 900;
        font-size: 30px;
        margin-bottom: 20px;
    }

    & h4 {
        font-size: 25px;
        font-weight: 600;
    }
}

.footer-copy {
    color: #FFF;
    background-color: #463F39;
    font-size: 20px;
    line-height: 18px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-weight: 300;

    & span {
        padding-right: 5px;
        padding-left: 5px;
    }

    & a { color: #FFF; }

    & img {
        display: inline-block;
        margin-top: -5px;
        margin-left: 5px;
    }
}

.dlk-container {
    font-size: 13px;
    font-weight: 500;
    margin-top: 2px;

    & img {
        margin-top: -10px;
        display: inline-block;
    }

    & span {
        padding-right: 0;
        padding-left: 0;
    }
}

.related-products-item {
    min-height: 300px;
    margin-right: 10px;
    padding-left: 5px;
    margin-top: 5px;

    & a { color: #FFF; }

    & img { -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.93, transparent), to(white)); }
}

.hero-shop {
    background: url(../images/hero.jpg);
    height: 40vh;
    margin-top: -170px;
}

.woocommerce-container { padding-top: 20px; }

.shop-product-item-img {
    & img { -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.93, transparent), to(white)); }
}

.shop-product-item-button {
    padding-top: 15px;
    text-align: center;

    & a { color: #482912; }

    & span {
        font-size: 25px;
        font-weight: 300;
    }

    & .btn {
        padding: 0;
        line-height: 25px;
        margin-top: -12px;
        border-radius: 0;
        font-size: 40px;
        border: 1px solid #A49B96;
        height: 30px;
        width: 30px;
    }
}

.special-page-title {
    font-size: 50px;
    color: #482912;

    & .word3 { font-weight: 900; }

    & .word4 { font-weight: 900; }
}

.sidebar-product-item {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    text-align: center;
    margin-bottom: -8px;
}

.sidebar-product-item-title {
    font-size: 17px;
    padding-top: 30px;
    color: #482912;
    margin-top: 0;
}

.woocommerce-main-image {
    & img { -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.93, transparent), to(white)); }
}

.nuxbox-creator-container {
    padding-top: 50px;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 50px;
    padding-bottom: 30px;
}

.panel {
    border: 0;
    box-shadow: 0 0 0 transparent;
}

.panel-heading {
    background: transparent none !important;
    border: 0 !important;
    border-color: transparent !important;
    text-align: center;
}

.panel-body { border: 0 !important; }

.panel-title {
    font-size: 55px;
    font-weight: 400;
}

.nuxbox-creator-dynamic-content {
    background: url(../images/nuxbox-scheme.png);
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.woocommerce-review-link { color: #595A5B; }

.woocommerce .star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
    color: #01B1EF;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #595A5B !important;
    font-size: 30px !important;
    font-weight: 700 !important;
}

div[itemprop=description] {
    border-top: 1px solid #E4E4E4;
    padding-top: 15px;
    font-size: 15px;
    line-height: 15px;
}

.single_add_to_cart_button {
    border-radius: 0px !important;
    background: #595A5B !important;
    font-weight: 300 !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after { display: none !important; }

.woocommerce div.product .woocommerce-tabs ul.tabs li:before { display: none !important; }

.nuxbox-hero-prods {
    background: url(../images/nuxbox-bg.png);
    background-size: contain;
    background-color: #6E8F9C;
    padding-top: 60px;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    position: relative;
}

.nuxbox-container2 {
    padding-top: 15px;
    text-align: center;
    font-size: 28px;
    line-height: 20px;
    color: #FFF;
    font-weight: 100;

    & h4 {
        font-size: 35px;
        letter-spacing: 10px;
        font-weight: 100;
        word-break: normal;
        margin-bottom: 15px;
    }

    & h2 {
        font-size: 55px;
        letter-spacing: 3px;
        word-break: break-word;
        font-weight: 300;
    }
}

.btn-nuxbox-hero2 {
    background: none;
    border: 1px solid #F5CCFF;
    border-radius: 0;
    padding: 5px;
    float: left;
    font-size: 30px;
    font-weight: 100;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 115px;
    margin-left: 20px;
    color: #FFF;
}

.woocommerce div.product p.price { display: inline-block; }

.woocommerce div.product p.stock {
    font-size: 15px !important;
    display: block;
    float: right;
    margin-top: 10px;
    font-weight: 700;
    color: #149000;

    & span { color: #58595b; }
}

span.posted_in { display: block; }

.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding: 0 0 0 5px !important;
    margin: 0 !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border-radius: 0 !important;
    background-color: #FFF !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-weight: 100 !important;
    font-size: 20px !important;
    text-transform: uppercase;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: #595A5B !important;
    color: #FFF !important;
    z-index: 2;
    border-bottom-color: #fff;
}

.woocommerce div.product .woocommerce-tabs .panel {
    padding: 30px !important;
    border: 1px solid #efefef !important;
    border-radius: 0 !important;
    margin-top: -1px !important;
}

.product_meta {
    border-top: 1px solid #E4E4E4;
    padding-top: 15px;
}

.front-product-item-lateral { float: right; }

.front-product-container { padding-right: 30px; }

.header-shop-social {
    margin-top: 15px;

    & .fa {
        border: 1px solid white;
        width: 40px;
        height: 40px;
        font-size: 35px;
        padding-top: 2px;
        text-align: center;
        margin-bottom: 15px;
    }

    & a { color: #FFF; }
}

.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    position: absolute;
    top: -70px;
    right: 0;
}

.owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: transparent !important;
    filter: Alpha(Opacity=100) !important;
    opacity: 1 !important;
}

.related-products-item-btn {
    background-color: #422917;
    text-align: right;
    padding-right: 5px;
    margin-top: 10px;
    margin-right: 10px;
}

.related-products-item-btn .btn {
    border: 1px solid white;
    height: 20px;
    margin: 5px;
    width: 20px;
    padding: 0;
    border-radius: 0;
    font-size: 20px;
    line-height: 18px;
}

.related h2 { font-size: 40px; }

.archive-item {
    float: left;
    width: 31%;

    & h2 {
        border-right: 5px solid #57504C;
        font-weight: 300;
        font-size: 25px;
    }

    & a { color: #57504C; }
}

.plus { float: right; }

#sidebar {
    padding-left: 0;
    list-style: none;
}

.widget { margin-bottom: 20px; }

.widgettitle { margin-top: 0; }

.contact-container {
    background: url(../images/FotoFondo-Contacto.jpg);
    background-size: cover;
    position: relative;
    padding-top: 45px;
    padding-left: 0;
    padding-right: 0;
    font-size: 25px;

    & h2 {
        font-size: 35px;
        font-weight: 700;
        color: #422917;
    }
}

.contact-container-mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

.contact-content {
    font-weight: 400;
    font-size: 20px;
    color: #422917;
}

.wpcf7-form-control {
    background: none;
    border: 0;
    border-bottom: 2px solid #4F4F4F;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25px;
    width: 100%;
    margin-bottom: 20px;
    .placeholder(#422917);
}

.wpcf7-textarea {
    border: 0;
    background: rgba(255, 255, 255, 0.67);
    width: 100%;
    color: #57504C;
}

.wpcf7-submit {
    float: right;
    width: 100px;
    padding: 10px;
    color: #FFF;
    background: #422917;
    border: 0;
}

.contact-social {
    padding-top: 25%;

    & .fa {
        width: 80px;
        margin-right: 15px;
        border: 1px solid;
        text-align: center;
        padding-top: 2px;
        height: 82px;
    }
}

.partners-contact {
    background: rgba(84, 77, 73, 0.90);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: 300;

    & a { color: #FFF; }
}

.sidebar-single-prods {
    text-align: center;
    padding-top: 10%;
    padding-left: 0;
    padding-right: 0;

    & h4 { font-size: 15px; }

    & img { -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.93, transparent), to(white)); }
}

.sidebar-single-prods-item-ingr { padding-top: 20px; }

.composite-summary {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

ul.summary_elements {
    background: url(../images/nuxbox-scheme.png);
    min-height: 720px;
    background-size: contain !important;
    background-repeat: no-repeat;
    padding-top: 305px;
}

.full_width .columns-4 .summary_elements li.summary_element {
    width: 45% !important;
    height: 193px;
    border-radius: 100%;
    background: rgba(71, 69, 66, 0.14);
}

.summary_element_wrapper_inner { height: 193px; }

.composite_summary .summary_title { display: none; }

.summary_element_content {
    width: 63% !important;
    height: auto !important;
    margin-top: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.component .composited_product_images img {
    width: 184px !important;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.93, transparent), to(white));
}

.component_wrap .stock { float: right !important; }

.composite_button .quantity { display: inline-block; }

.composite_form .composite_navigation.paged { padding: 0 !important; }

.sidebar-single-prods-item { margin-top: 20px; }

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover { color: #FFF !important; }

.header-mini-social-container {
    font-size: 25px;
    margin-top: -5px;
    padding-right: 30px;

    & .fa-facebook { margin-right: 5px; }

    & a { color: #FFF; }
}

.header-mini-cart-container { text-align: right; }

.header-mini-menu-container .navbar-brand>img {
    display: block;
    height: 50px;
    margin-top: -20px;
}

.header-mini-menu-container { background: rgba(69, 62, 57, 0.9); }

.header-mini-menu-container .navbar-default {
    background: none transparent;
    border: 0;
    box-shadow: 0 0 0 transparent;
    margin-bottom: 0;
    text-align: right;
}

.category-title-shop p {
    background: #463F39;
    display: inline-block;
    font-size: 30px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 15px;
    color: #FFF;
}

.category-single-float {
    float: right;
    margin-top: -55px;
    padding: 6px;
    background: #422917;
    font-size: 20px;
    color: #FFF;
    padding-left: 8px;
}

.share-btn {
    background: none transparent;
    border: 1px solid #E1E1E1;
    padding: 4px;
    height: 31px;
    margin-left: 5px;
    float: left;
}

.contact-title {
    font-size: 40px;
    margin-bottom: 40px;
    color: #422917;

    & .line1 { font-weight: 600; }

    & .line2 { font-weight: 900; }
}

.product_cat-180g form.cart {
    display: inline-block;
    float: left;
}

.composite_price { font-size: 35px; }

.composite_summary .summary_element_price { display: none; }

.composite_form .composite_navigation.paged .next {
    float: none !important;
    margin-right: -15px !important;
}

.composite_form h4.composited_product_title.product_title {
    font-size: 40px !important;
    font-weight: 800;
    margin-bottom: -10px;
}

.component .details {
    float: none !important;
    padding-left: 2px;
}

.component_wrap .stock {
    display: inline-block !important;
    margin-left: 15px;
    float: none !important;
}

.selected_option_label { display: none !important; }

.nuxbox-composite-item {
    text-align: center;

    & .panel-title {
        font-size: 65px;
        font-weight: 400;
        line-height: 55px;
    }
}

.vibrate-heart {
    -webkit-animation-name: thumb;
    -webkit-animation-duration: 500ms;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.arrow-single { position: absolute; }

.arrow1 { top: 45%; }

.arrow2 { top: 63%; }

.arrow3 {
    top: 39%;
    right: 0;
}

.arrow4 {
    top: 63%;
    right: 0;
}

.show-arrow { display: block; }

.hidden-arrow { display: none; }

.arrow-indication {
    position: absolute;

    & img {
        .rotate(275);
        width: 50%;
    }
}

.arrow5 {
    top: 50%;
    left: 60px;
}

.arrow6 {
    top: 50%;
    right: 0;
}

.composite-single-main-component {
    color: #422916;
    position: relative;

    & .entry-summary h1 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: 300;
        color: #422916;
    }

    & .composite_navigation .next {
        padding: 3px;
        padding-left: 50px;
        font-weight: 800 !important;
        padding-right: 10px;
        font-size: 26px !important;
        color: #FFF;
        background-color: #6E8F9C;
    }

    & .composite_navigation .next:before {
        content: ' ';
        position: absolute;
        left: 6%;
        width: 30px;
        background-size: cover;
        background: url(../images/arrow.png);
        text-align: center;
        top: 10px;
        font-weight: 100;
        height: 32px;
        background-repeat: no-repeat;
    }

    & .composite_navigation .next:after { content: none !important; }

    & .component { line-height: 15px; }

    & .component_title_wrapper .product_title {
        font-size: 30px;
        margin-bottom: 25px;
        margin-top: 0;
        line-height: 30px;
        border: 1px solid #6E8F9C;
        padding: 5px;
        color: #6E8F9C;
    }

    & .product_title .step_index {
        font-weight: 700;
        font-size: 35px;
    }

    & .composited_product_title {
        color: #6E8F9C;
        margin-bottom: 0;
    }

    & .product_title .step_title { font-weight: 200; }

    & .component_wrap { display: none !important; }

    & .thumbnail_title.title { font-weight: 600; }

    & .clear_component_options_wrapper {
        height: 25px;
        line-height: 25px;
        margin-top: 10px;
        padding-left: 15px;

        & a {
            color: #9e0b0f;
            display: inline-block;
            position: relative;
            font-size: 20px !important;
            font-weight: 500 !important;
            margin-top: 20px;

            &:before {
                content: ' ';
                position: absolute;
                left: -18%;
                width: 15px;
                background-size: contain !important;
                background: url(../images/x-sign.png);
                text-align: center;
                top: 3px;
                font-weight: 100;
                height: 20px;
                background-repeat: no-repeat;
                visibility: visible;
            }
        }
    }

    & .component .component_options { padding-top: 25px; }

    & .top .page_button { display: none; }
}

.woocommerce-main-image img {
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.thumbnails img {
    border-radius: 100%;
    width: 80% !important;
    max-height: 80px !important;
}

div.pp_woocommerce div.ppt { display: none; }

.woocommerce-page div.product div.thumbnails { text-align: center; }

.woocommerce-page div.product div.thumbnails a {
    float: none !important;
    margin-right: 1% !important;
    margin-bottom: 1em;
    width: 100px !important;
    display: inline-block;
}

.blog-title {
    font-size: 26px;
    line-height: 35px;

    & .line2 { font-weight: 900; }
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a { font-size: 13px !important; }

.wc-tab h2 { font-size: 20px; }

.sprites-footer {
    background-image: url(../images/sprites-about.png);
    display: inline-block;
    width: 50px;
    height: 60px;
    margin-top: 35px;
    background-size: 178px;
    cursor: pointer;
    image-rendering: crisp-edges;
}

/* WOOCOMMERCE */
.woocommerce-cart .cart-collaterals .cart_totals table th { width: 15% !important; }

.woocommerce ul#shipping_method li {
    margin: 0;
    padding: .25em 0 .25em 22px;
    text-indent: 0px !important;
    list-style: none;
}

input#coupon_code {
    width: 100px !important;
    height: 32px !important;
}

table.shop_table.cart thead {
    background: #422917 !important;
    color: #FFF !important;
}

.woocommerce .cart .button, .woocommerce .cart input.button {
    float: none;
    background: #595A5B !important;
    color: #FFF !important;
}

.cart_item {
    font-size: 20px !important;
    font-weight: 300 !important;
    text-indent: 5px !important;
}

.cart_totals {
    border: 1px solid #E6E6E6 !important;
    border-radius: 2px;
    padding: 5px !important;
}

.cart_totals .word1 { font-weight: 900; }

#order_review_heading .word2 { font-weight: 900; }

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt { background-color: #595A5B !important; }

.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message {
    background-color: #CCCBCB !important;
    color: #FFF !important;
}

.widget .wp_bank_album {
    & .custom_desc {
        margin-right: 5px !important;
        margin-bottom: 6px !important;
        display: inline-block;
        width: 80px;
        height: 80px;

        & img {
            width: 80px;
            height: 80px;
        }
    }

    & .gb_overlay {
        position: relative;
        overflow: hidden;
        display: inline-block;
        width: 80px !important;
        height: 80px !important;
    }
}

.widget h2 { border-right: 6px solid #57504C; }

.widget h2 .word1 { font-weight: 900; }

.widget a { color: #6A6868; }

.widget #searchsubmit {
    background: #422916;
    color: #FFF;
    font-weight: 100;
    font-size: 14px;
}

.navigation {
    font-size: 20px;

    & li a {
        background-color: transparent !important;
        border: 0 !important;
    }

    & .current { background: #554E49 !important; }
}

.single-container {
    padding-top: 25px;
    padding-bottom: 25px;
}

.the-single picture img { border-right: 7px solid #422916; }

.the-single {
    & h1 { margin-bottom: 3px; }

    & .date {
        font-size: 16px;
        font-weight: 500;
    }

    & .post-content { font-size: 18px; }
}

.single-categories {
    margin-bottom: 0;
    margin-top: 10px;

    & a {
        background-color: #422916;
        color: #FFF;
        padding: 2px 5px;
        margin-right: 5px;
        font-size: 20px;
    }
}

.pp_description { display: none !important; }

.small_width .composite_summary li.summary_element, .composite_summary.force_vertical li.summary_element {
    text-align: left;
    width: 44% !important;
    border-radius: 100%;
    background-color: rgba(87, 80, 76, 0.22);
}

.share-container {
    padding-left: 0;
    margin-top: -15px;
    padding-bottom: 10px;
}

.hide-share {
    display: none;
    .transition(all .3s ease-in-out);
}

.show-share {
    display: block;
    .transition(all .3s ease-in-out);
}

.woocommerce div.product form.cart, .woocommerce div.product p.cart {
    margin-bottom: 2em;
    float: left;
}

/* NUT MIX*/
.nutmix-hero { background: #6e8f9c; }

.nuxbox-hero-container {
    & .owl-controls {
        width: 100%;
        top: 40%;
        position: absolute;
        left: 0;
    }

    & .owl-prev {
        float: left;
        filter: invert(1);
        -webkit-filter: invert(1);
    }

    & .owl-next {
        float: right;
        filter: invert(1);
        -webkit-filter: invert(1);
    }
}

.nutmix-hero-container { max-height: 491px; }

.nutmix-hero-title {
    text-align: center;
    font-size: 60px;
    line-height: 35px;
    font-weight: 300;
    color: #F5CCFF;
    padding-top: 20px;

    & img { margin-top: -10px; }
}

.nutmix-hero-footer {
    text-align: right;
    color: #FFF;
    font-size: 25px;
    font-weight: 100;
    line-height: 19px;
    padding: 10px 20px;

    & a { color: #FFF; }
}

.page-faq {
    font-size: 18px;

    & p { padding-left: 20px; }

    & h4 {
        position: relative;
        font-size: 25px;
        font-weight: 600;
        padding-left: 10px;
        margin-top: 20px;
        margin-bottom: 20px;

        &:before {
            content: ' ';
            width: 4px;
            height: 80%;
            top: 0;
            left: 0;
            background: #57504c;
            position: absolute;
            margin-right: 10px;
        }
    }

    & .section-title {
        margin-bottom: 30px;
        font-weight: 900;

        & .word3 { font-weight: 300; }
    }
}

.product_cat-nut-mix {
    & .products {
        text-align: center;

        & .product {
            float: none !important;
            display: inline-block;
            max-width: 40% !important;
            margin-left: 5px !important;
            width: 25% !important;
        }
    }

    & .shop-product-item-img img { -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(1, transparent), to(white)) !important; }

    & .woocommerce-main-image img { -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(1, transparent), to(white)) !important; }
}

.the-sidebar-faq { padding-top: 20px; }

.product_cat-170ml {
    & .products {
        text-align: center;

        & .product {
            float: none !important;
            display: inline-block;
            max-width: 40% !important;
            margin-left: 5px !important;
            width: 20% !important;
        }
    }
}

.nuxbox-creator-ads-container {
    background: #6E8F9C url(../images/nuxbox-ads.png);
    max-height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-bottom: 30px;
    position: relative;

    & button {
        position: absolute;
        top: 7%;
        right: 5%;
    }

    & img {
        &:nth-child(1) { padding-left: 5%; }

        &:nth-child(2) {
            width: 45%;
            margin-bottom: 0;
            float: right;
        }
    }
}

.img-ads { display: inline-block; }

.composite-single-main-bundle {
    text-align: center;

    & .entry-summary {
        & .price { display: none; }
    }

    & h1 {
        font-size: 36px;
        font-weight: 100;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    & .bundle_price {
        font-size: 35px;

        & .price { display: block !important; }
    }

    & .quantity { display: inline-block !important; }
}

.bundle_custom_componentes {
    background: url(../images/healthybox-scheme.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 40%;
    padding-left: 10px;
    padding-bottom: 30px;
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;

    & .bundled_product_summary {
        width: 180px;
        background: rgba(216, 216, 216, 0.75);
        border-radius: 100%;
        display: inline-block;
        height: 180px;
        text-align: center;
        padding: 20px !important;
        padding-top: 30px !important;
        margin-right: 10px;
        margin-bottom: 10px !important;

        & .bundled_product_images {
            float: none !important;
            margin-left: 0 !important;

            & a { margin: 0 !important; }
        }

        & .details {
            float: none !important;

            & h4 {
                font-size: 15px;
                margin-top: 10px;
            }
        }
    }
}

.nuxbox-creator-mobile-ads-container {
    background: #6e8f9c url(../images/healthybox-mobile.png);
    position: relative;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 28%;

    & .btn-nuxbox-hero {
        position: absolute;
        bottom: 25%;
        right: 18px;
    }
}

ul.summary_elements_nutmix {
    background: url(../images/nuxmix-box-scheme.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
}

.nuxbox-creator-item {
    & h1 { text-transform: lowercase; }
}

.composite-single-main-bundle h1 { text-transform: lowercase; }

.composite-summary h1 { text-transform: lowercase; }
